
<div class="card">
  <%# 画像がある場合のみ画像を表示 %>
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image, class: 'card__img'), prototype_path(prototype) %>
  <% end %>

  <div class="card__body">
    <%# 各プロトタイプのタイトルをリンクとして表示 %>
    <%= link_to prototype.title, prototype_path(prototype), class: 'card__title' %>

    <p class="card__summary">
      <%# プロトタイプのキャッチコピーを表示 %>
      <%= prototype.catch_copy %>
    </p>

    <%# 投稿者名をリンクとして表示 %>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: 'card__user' %>
  </div>
</div>